<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id = "app">
        <button @click = "dec">
            -
        </button>

        <h1>
            {{ counter }}
        </h1>
        
        <button  @click = "inc">
            +
        </button>
        
    </div>

    <script>
        const App = {
            data(){
                return{
                    counter :0
                }
            },
            methods:{
                inc(){
                    this.counter++
                },
                dec(){
                    if( this.counter == 0) return
                    this.counter--
                }
            },
            mounted(){
                
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
    
</body>
</html>